<main>
  <section class="form-section">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png" alt="logo" width="80px" height="80px">
    <h2>Acessar a Votação</h2>
    <button></button>
    <div>
      <span>or</span>
    </div>
    <button></button>
  </section>
  <section class="main-section">
    <h1>Sistema de Votação</h1>
    <img src="https://cdn.worldvectorlogo.com/logos/java.svg" alt="" width="60%" height="60%" />
  </section>
</main>
